.campo {
  display: flex;
  flex-direction: column;
  padding: 0.5px 0;
}
.campo label {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 18px;
}
.inputPadrao {
  border: none;
  padding: 5px;
  border-radius: 7px;
  padding: 7px;
  font-family: var(--fonte1);
  color: var(--azulmedioescuro);
  font-size: 16px;
}

.comBorda {
  border: 1px solid var(--preto);
  padding: 5px;
  border-radius: 7px;
  padding: 7px;
  font-family: var(--fonte1);
  font-size: 16px;
}
