.containerPaginaSucesso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 33vh;
  padding: 40px 0;
}
.paginaSucessoTitulo {
  padding: 0px;
  border-radius: 7px;
  font-family: var(--fonte2);
  text-align: center;
  color: var(--azulescuro);
}

.containerPedido {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--azulmedioclaro);
  padding: 20px;
  border-radius: 7px;
}

.containerPedido h4 {
  align-self: start;
  padding-left: 7%;
  font-size: 16px;
  margin-top: 25px;
  color: var(--azulescuro);
}
.total {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid var(--azulescuro);
  width: 60%;
  padding: 0 20px;
  margin-top: -4px;
  background-color: var(--azulmedioclaro);
  color: var(--azulescuro);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.total h2 {
  padding: 17px 0;
}

@media only screen and (max-width: 800px) {
  .containerPedido {
    width: 90%;
  }
  .total {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .paginaSucessoTitulo {
    font-size: 14px;
  }
}
