.containerPainel {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  min-height: 38vh;
  justify-content: center;
}

.containerPainel form {
  display: flex;
  width: 60%;
  padding: 15px;
  flex-direction: column;
  background-color: var(--azulmedioclaro);
  height: 190px;
  border-radius: 7px;
}
.containerPainel h3 {
  color: var(--azulmedioescuro2);
  text-align: center;
  font-size: 20px;
  margin: 0;
  font-family: var(--fonte2);
  text-transform: uppercase;
}

.containerFormCategorias {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.botoes {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .containerPainel form {
    width: 85%;
  }
}
