.containerPaginaSucesso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 38vh;
  padding: 40px 0;
}
.containerPedido {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.espacoPedidos {
  width: 80%;
  margin: 10px;
  background-color: var(--azulmedioclaro);
  padding: 20px;
  border-radius: 7px;
}
.espacoPedidos h4 {
  border-bottom: 2px solid var(--azulescuro);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.paginaSucessoTitulo {
  font-family: var(--fonte2);
  text-align: center;
  color: var(--azulescuro);
  font-size: 14px;
}
.tituloSemPedido {
  font-family: var(--fonte2);
  text-align: center;
  color: var(--azulescuro);
  font-size: 26px;
}

.detalhesProdutoPedido {
  display: flex;
  justify-content: space-between;
}

.cardItensPedido {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 5px 20px;
  justify-content: space-between;
  text-align: center;
}
.detalhesProdutoPedidoTextos {
  width: 70%;
  padding: 0 1%;
}
.detalhesProdutoPedidoBotao {
  width: 20%;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .containerPedido {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .paginaSucessoTitulo {
    font-size: 14px;
  }
  .cardItensPedido {
    flex-direction: column;
    align-items: center;
  }
  .cardItensPedido {
    width: 100%;
  }
  .detalhesProdutoPedidoBotao {
    width: 30%;
  }
}
