.containerPainel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 6%;
  min-height: 58vh;
}
.containerPainel form {
align-items: center;
  display: flex;
  width: 483px;
  padding: 30px;
  flex-direction: column;
  background-color: var(--branco);
  border: 2px solid var(--azulmedioescuro2);
  border-radius: 7px;
  gap: 10px;
  
}

 input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;

  width: 398px;
  height: 40px;

  margin-bottom: 10px;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  border: 0.5px solid #000000;
 }

.containerPainel h3 {
  color: var(--azulmedioescuro2);
  text-align: center;
  font-size: 25px;
  margin: 0;
  font-family: var(--fonte2);
  height: 30px;
  top:30px;
}

.containerPainel p{
  width: 424px;
  height: 26px;
  left: 30px;
  top: 80px;
  margin-top: 20px;

  /* Paragraph 03 */
margin-bottom: 26px;
  font-family: var(--fonte);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 162% */

  letter-spacing: -0.2px;

  /* Colors / Grey / Grey 2 */

  color: #a9abbd;
}

.containerFormUsuarios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

button {
  color: #ffffff;
  width: 275px;
  height: 50px;
  line-height: 22px;
  margin-top: 14px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  align-self: center;

  background: #526d82;
  /* Primary */

  border: 1px solid #0d0d0d;
}

button:hover{
  background-color: var(--azulescuro);

}

.estiloLink {
  color: var(--azulmedioescuro);
  text-decoration: underline;
}

.estiloLink:hover {
  color: var(--azulescuro);
  text-decoration: underline;
}

@media only screen and (max-width: 1400px) {
  .containerPainel form {
    width: 55%;
  }
}

@media screen and (max-width: 680px) {
  .containerPainel {
    padding-top: 20%;
  }
  .containerPainel form {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .containerPainel {
    padding-top: 100px;
    height: 95vh;
  }
  .containerPainel form {
    width: 85%;
  }
}
