.containerListagem {
  padding-bottom: 40px;
}

.catElistagem {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 500px) {
  .containerListagem div {
    flex-wrap: wrap;
    justify-content: center;
  }
}
