.containerPainel {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  min-height: 38vh;
}
.containerPainel form {
  margin-top: 2.5%;
  display: flex;
  width: 300px;
  padding: 15px;
  flex-direction: column;
  background-color: var(--azulmedioclaro);
  height: 380px;
  border-radius: 7px;
}

.ajusteLabel {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}
.ajusteSelect {
  border: none;
  padding: 5px;
  border-radius: 7px;
  padding: 7px;
  font-family: var(--fonte1);
  color: var(--azulmedioescuro);
  font-size: 16px;
}

.containerPainel h3 {
  color: var(--azulmedioescuro2);
  text-align: center;
  font-size: 20px;
  margin: 0;
  font-family: var(--fonte2);
  text-transform: uppercase;
}

.containerFormUsuarios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
