.containerDetalhes {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.cardDetalhes {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  justify-self: center;
  border: 2px solid var(--azulescuro);
  background-color: var(--branco);
  padding: 30px;
  border-radius: 5px;
  margin: 50px 0;
}

.textosDetalhes {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.cardDetalhes img {
  max-width: 300px;
  max-height: 300px;
}

.cardDetalhes h1 {
  font-size: 25px;
  margin: 0;
}

.cardDetalhes h4 {
  font-size: 14px;
  margin: 0;
}

.inputNumerico {
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .cardDetalhes {
    width: 290px;
  }
  .cardDetalhes h1 {
    font-size: 20px;
  }
  .cardDetalhes h3,
  h4 {
    font-size: 14px;
  }
  .cardDetalhes img {
    max-width: 200px;
    max-height: 200px;
  }
}
