.containerPainel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 6%;
  min-height: 58vh;
}
.containerPainel form {
  display: flex;
  width: 30%;
  padding: 30px;
  flex-direction: column;
  background-color: var(--branco);
  border: 2px solid var(--azulmedioescuro2);
  border-radius: 7px;
}

.containerPainel form h4 {
  color: red;
  font-size: 14px;
  padding: 10px 0;
}

.containerPainel h3 {
  color: var(--azulmedioescuro2);
  text-align: center;
  font-size: 25px;
  margin: 0;
  font-family: var(--fonte2);
}

.containerFormUsuarios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.rodape {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  color: var(--azulmedioescuro);
}

.estiloLink {
  color: var(--azulmedioescuro);
  text-decoration: underline;
}

.estiloLink:hover {
  color: var(--azulescuro);
  text-decoration: underline;
}

@media only screen and (max-width: 1400px) {
  .containerPainel form {
    width: 55%;
  }
}

@media screen and (max-width: 680px) {
  .containerPainel {
    padding-top: 20%;
  }
  .containerPainel form {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .containerPainel {
    padding-top: 100px;
    height: 600px;
  }
  .containerPainel form {
    width: 90%;
  }
}
