
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container {

  
  margin-bottom:250px ;

  box-sizing: border-box;

  position: relative;
  width: 456px;
  height: 328px;
  left: 550px;
  top: 170px;
  
  /* Colors / Grey / White  */
  
  background: #FFFFFF;
  border: 3px solid #526D82;
}

.container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.cotainer .header span {
  padding-top: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container form .inputContainer input {

  
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;

  width: 398px;
  height: 40px;
  
  margin-bottom: 10px;
  
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  border: 0.5px solid #000000;
}

.container form .button {
  font-family: 'Public Sans';
  text-align: center;
  font-style: normal;
  font-size: 16px;
  color:#FFFFFF;
  width: 275px;
  height: 50px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin-bottom: 85px;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #526D82;
  /* Primary */
  
  border: 1px solid #0D0D0D;
}

.container form .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container h1{
font-family: 'Public Sans';
margin-top: 30px;
width: 141px;
height: 30px;
left: 157px;
top: 30px;
color: #111111;


font-family: 'Public Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height, or 136% */

letter-spacing: -0.55px;

/* Colors / Base / Color 6 */

color: #111111;

}

.footer{
  align-items: stretch;
  position: relative;
  
}

.footer p{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: -70px;
  padding-top: 13px;
  padding-bottom: 16px;
  justify-content: center;
  gap: 8px;
  width: 233px;
  height: 33px;
  margin-inline-start: 90px;
  top: 565px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.3px;
  color: #526D82 

  }

  .footer a{
    color: #526D82;
  }