.containerHome {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.titulo {
  text-align: center;
  text-shadow: var(--azulmedioclaro) 0.1em 0.1em 0.2em;
  width: 90%;
  align-self: center;
  margin: 0px;
  padding-bottom: 40px;
  color: var(--azulescuro);
  font-size: 50px;
  line-height: 50px;
  font-family: var(--fonte2);
}
.containerMarcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  align-self: center;
  padding-top: 20px;
}

.containerMarcas img {
  display: flex;
  width: 150px;
  margin: 20px;
}

@media screen and (max-width: 680px) {
  .containerHome {
    padding: 20px;
    padding-top: 105px;
  }
  .titulo {
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .titulo {
    width: 100%;
    font-size: 20px;
    line-height: 22px;
  }
  .containerHome {
    padding-bottom: 50px;
  }
  .containerMarcas img {
    width: 90px;
    margin: 15px;
  }
}
