.carrossel div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carrossel img {
  width: 80%;
  box-shadow: 0 0 10px var(--azulmedioclaro);
}

@media screen and (max-width: 680px) {
  .carrossel img {
    width: 100%;
  }
}
