.produtosNoCarrinho {
  width: 70%;
  border: 2px solid var(--azulescuro);
  background-color: var(--branco);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  word-break: break-word;
}

.itensProduto {
  display: flex;
  width: 70%;
  align-items: center;
}

.itensProduto img {
  max-width: 90px;
  padding-right: 3%;
  cursor: pointer;
}
.itensProduto img:hover {
  opacity: 0.8;
}

.itensProduto h1 {
  margin: 5px 0;
  font-size: 20px;
}

.itensProduto h3 {
  margin: 0;
  font-size: 12px;
}
.itensProduto h2 {
  margin: 10px 0;
  font-size: 20px;
}

.contatorEbotao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .produtosNoCarrinho {
    width: 90%;
  }
  .produtosNoCarrinho img {
    display: none;
  }
  .itensProduto h1 {
    font-size: 15px;
  }
}
