.produtosNoCarrinho {
  width: 70%;
  border: 2px solid var(--azulescuro);
  background-color: var(--branco);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.itensProduto {
  display: flex;
  width: 70%;
  align-items: center;
}

.itensProduto img {
  max-width: 90px;
  padding-right: 3%;
}

.itensProduto h1 {
  font-size: 20px;
}

.itensProduto h2 {
  font-size: 20px;
}

/* .produtosNoCarrinho h2 span {
  font-size: 20px;
  background-color: var(--azulclaro);
  padding: 6px;
  border-radius: 7px;
} */
.contatorEbotao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .produtosNoCarrinho img {
    display: none;
  }
}
