.cabecalho {
  background-color: var(--azulescuro);
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0.5% 4%;
}

.cabecalho nav {
  display: flex;
  align-items: center;
  gap: 15%;
}
.cabecalho div {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.cabecalho img {
  width: 120px;
}
.cabecalho h5 {
  width: 150px;
  text-align: center;
  color: var(--azulclaro);
}

.shoppingCartIcon {
  color: var(--azulclaro);
}
.link {
  text-decoration: none;
  color: var(--azulmedioclaro);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.link:hover {
  color: var(--azulmedioescuro);
}
.active {
  text-decoration: underline !important;
  color: var(--azulmedioclaro) !important;
}

.shoppingCartIcon:hover {
  color: var(--azulmedioescuro);
}

.iconeBotao:disabled {
  opacity: 0.5;
}

.logado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logado button {
  padding-top: 5px;
  text-decoration: underline;
  border: none;
  background-color: var(--azulescuro);
  color: var(--azulmedioclaro);
}

.logado button:hover {
  color: var(--azulmedioescuro);
  cursor: pointer;
}

.userIcon {
  color: var(--azulclaro);
  max-width: 100%;
}

.userIcon:hover {
  color: var(--azulescuro)
}

/* @media only screen and (max-width: 500px) {
  .cabecalho .carrinho {
    flex-wrap: wrap;
  }
  .cabecalho div {
    justify-content: center;
    flex-wrap: wrap;
  }
  .link {
    margin-top: 5px;
  }
  .cabecalho nav {
    justify-content: center;
  }
  .cabecalho h5 {
    width: 100px;
    word-break: break-all;
  }
} */
