.cardProduto {
  width: 240px;
  border: 2px solid var(--azulescuro);
  background-color: var(--branco);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.cardProduto:hover {
  box-shadow: inset 0 0 1em var(--azulmedioclaro), 0 0 1em var(--azulescuro);
  transition: all 0.4s;
  transform: scale(1.1);
}

.cardProduto img {
  width: 120px;
  align-self: center;
}

.cardProduto h1 {
  font-size: 16px;
  margin: 10px 0;
}

.cardProduto h2 {
  font-size: 24px;
  margin: 0px;
}
