.containerPainel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 6%;
  min-height: 58vh;
}
.containerFormUsuarios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.containerPainel form {
  display: flex;
  width: 30%;
  padding: 30px;
  flex-direction: column;
  background-color: var(--branco);
  border: 2px solid var(--azulmedioescuro2);
  border-radius: 7px;
}

.containerFormUsuarios form h3 {
  color: var(--azulmedioescuro2);
  text-align: center;
  font-size: 25px;
  font-family: var(--fonte2);
}

.containerFormUsuarios form p {
  margin-top: 10px;
  font-family: var(--fonte);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--cinza);
}

.estiloLink {
  padding-top: 10px;
  color: var(--azulmedioescuro);
  text-decoration: underline;
  text-align: center;
}

.estiloLink:hover {
  color: var(--azulescuro);
  text-decoration: underline;
}

.validacao {
  font-size: 15px;
}
.validacao li {
  padding: 1px;
  margin: 10px 0;
  align-items: center;
}

@media only screen and (max-width: 1400px) {
  .containerPainel form {
    width: 70%;
  }
}

@media screen and (max-width: 680px) {
  .containerPainel {
    padding-top: 20%;
  }
  .containerPainel form {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .containerPainel {
    padding-top: 150px;
    height: 110vh;
  }
  .containerPainel form {
    width: 85%;
  }
}
