:root {
  --fonte: "Montserrat", sans-serif;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: rgb(195, 196, 198);
  --cinzaescuro: rgb(133, 133, 135);
  --azulescuro: #27374d;
  --azulmedioescuro: #526d82;
  --azulmedioclaro: #9db2bf;
  --azulclaro: #dde6ed;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte);
  background-color: var(--azulclaro);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  text-decoration: underline !important;
  color: var(--azulclaro) !important;
}
