.containerPainel {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  min-height: 38vh;
}

.containerPainel form {
  display: flex;
  width: 60%;
  padding: 15px;
  flex-direction: column;
  background-color: var(--azulmedioclaro);
  height: 450px;
  border-radius: 7px;
}
.containerPainel h3 {
  color: var(--azulmedioescuro2);
  text-align: center;
  font-size: 20px;
  margin: 0;
  font-family: var(--fonte2);
  text-transform: uppercase;
}

.containerFormProdutos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ajusteLabel {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}
.ajusteSelect {
  border: none;
  padding: 5px;
  border-radius: 7px;
  padding: 7px;
  font-family: var(--fonte1);
  color: var(--azulmedioescuro);
  font-size: 16px;
}

.botoes {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .containerPainel form {
    width: 85%;
  }
}
